<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WE COVID-19 Help Cell</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="sectioni">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h2>In moments of darkness, WE stand together</h2>
                
            </div>
            
        </div>
        <div class="content">
            <h3>Vision</h3>
            <p>Trying to be a little ray of sunshine in this dark and difficult times!!</p>
            <h3>Mission</h3>
            <p>Standing together for the nation and giving our best for saving as much innocent lives as we can, 
                    Cause right now if we won't then who'll??</p>
        </div>
        <div class="image-section">
            <h4>An initiative by the students of MKSSS's Cummins College of Engineering for Women</h4>
            <img src="/img/karve.jfif" >
        </div>
    </div>
</div>
</body>
</html>