<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WE COVID-19 Help Cell</title>
    <link rel="stylesheet" href="css/style.css">
    
   
</head>

<body>
<section id="donate">
        <h1 class="h-primary center">Donate </h1>
        <div class ="textcentre">
            <p>If  you want to help people .</p>
           
             <p>Help can be anything like plasma,clothes ,food</p>
            <P>Feel free to contact us!!</P>
            <p>"WE" are here.</p>
            </div>
         
      <div class="donate">
      <p>For donation contact<p>
          <a href="https://instagram.com/we_cummins?igshid=1jyfpyuyal7ih" target="_blank">Our intagram account</a> 
             
      </div>

    </section>
    </body>

</html>