<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WE COVID-19 Help Cell</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section class="services-two">
        <div id="ser-one">
          <h>Plasma and beds availability</h>
           <img src="/img/pl1.jpg" alt="">
                 <img src="/img/pl2.jpg" alt="">
                  <img src="/img/pl3.jpg" alt="">
                   <img src="/img/pl4.jpg" alt="">
                    <img src="/img/pl5.jpg" alt="">
                     <img src="/img/pl6.jpg" alt="">
                      <img src="/img/pl7.jpg" alt="">
                       <img src="/img/pl8.jpg" alt="">
                        <img src="/img/pl9.jpg" alt="">
        </div>
          <div id="ser-two">
            <h>Tiffin/food</h>
           <img src="/img/food1.jpg" alt="">
            <img src="/img/food2.jpg" alt="">
        </div>
             <div id="ser-three">
            <h>24*7 Helpline</h>
             <p>Ambulance-108</p>
             
        </div>
         <div id="ser-four">
            <h>Injections information</h>
            <img src="/img/ij1.jpg" alt="">
             <img src="/img/ij2.jpg" alt="">
        </div>




    </section>
    
    
    
     </body>

</html>